@(post: (Int, String, String))

@main("New Post") {

  <h1>Edit post</h1>
  <form action="/posts/@post._1/update" method="post">
    <label>Title
      <input type="text" name="title" value="@post._2">
    </label>
    <label>Content
      <textarea name="content" rows="8" cols="40">@post._3</textarea>
    </label>
    <input type="submit" name="name" value="Save Post">
  </form>
  <form action="/posts/@post._1/delete" method="post">
    <button type="submit" name="button">Delete</button>
  </form>
}
